nav{
    margin: 0;
    background-color: lightgray;
    color: black;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    nav img{
        height: 100;
        
    }